<div class="faq--container">
    <div (click)="clicked('vehicle')" [ngClass]="class_vehicle">
        <div (click)="clicked('vehicle')" [ngClass]="class_heading_vehicle">
            <p class="faq-heading faq-heading-vehicle">VEHICLE</p>
        </div>
    </div>
    <div (click)="clicked('ownership')" [ngClass]="class_ownership">
        <div (click)="clicked('ownership')" [ngClass]="class_heading_ownership">
            <p class="faq-heading faq-heading-ownership">OWNERSHIP</p>
        </div>
    </div>
    <div (click)="clicked('customization')" [ngClass]="class_customization">
        <div (click)="clicked('customization')" [ngClass]="class_heading_customization">
            <p class="faq-heading  faq-heading-customization">CUSTOMIZATION</p>
        </div>
    </div>
</div>