main {
  background-color: #d8d8d8;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.contact-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.contact-service-container {
  width: 50%;
  height: 100%;
}

.contact-service-heading-text {
  position: relative;
  top: 20%;
  left: 10%;
  font-size: 24px;
  font-weight: 600;
  color: #1d1d1f;
}

.contact-service-body {
  position: relative;
  top: 25%;
  left: 10%;
  border: 1px solid rgba(29, 29, 31, 0.3);
  border-radius: 30px;
  width: 70%;
  height: 50%;
}

.contact-service-body-query-text {
  position: relative;
  left: 10%;
  top: 17%;
  font-size: 18px;
  font-weight: 400;
  color: #1d1d1f;
  width: 30vw;
}

.direction-link {
  text-decoration: none;
  color: #1d1d1f;
}

.contact-career-container {
  width: 50%;
  height: 100%;
}

.contact-career-heading-text {
  position: relative;
  top: 20%;
  font-size: 24px;
  font-weight: 600;
  color: #1d1d1f;
}
.contact-career-hiring-text {
  position: relative;
  top: 20%;
  font-size: 24px;
  font-weight: 400;
  color: rgba(29, 29, 31, 0.7);
}
.contact-career-options-container {
  position: relative;
  top: 25%;
  width: 80%;
  height: 30%;
  background-color: rgb(186, 186, 186);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.contact-career-option {
  position: relative;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.vb {
  border-left: 1px solid black;
  width: 1px;
  height: 50px;
}
.contact-career-option-text {
  font-size: 18px;
  font-weight: 400;
  color: #1d1d1f;
  cursor: pointer;
}
.power-text {
  width: 30%;
}
.other-role {
  position: relative;
  top: 30%;
  width: 58%;
}
.build-buy-modal-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.cross {
  position: absolute;
  left: 82.5%;
  top: 12%;
  color: #d8d8d8;
  font-weight: 800;
  font-size: 22px;
  cursor: pointer;
  z-index: 5;
}

.buy-modal {
  width: 70%;
  height: 80%;
  display: flex;
  flex-direction: row;
}

.build-buy-summary-head-text-container {
  position: relative;
  left: 20px;
}
.build-buy-summary-head-text {
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 0.05rem;
}
.underline {
  border-bottom: 4px solid black;
  position: relative;
  top: -14px;
  width: 190px;
}
.underline-m {
  border-bottom: 4px solid black;
  position: relative;
  top: -18px;
  width: 135px;
}

.buy-personal-note {
  width: 60%;
  height: 100%;
  background-color: #d8d8d8;
  z-index: 1;
}

.buy-personal-details {
  width: 40%;
  height: 100%;
  z-index: 1;
  background-color: #1d1d1f;
}

.buy-personal-text-container {
  position: relative;
  left: 5%;
  width: 90%;
}

.buy-personal-text {
  font-size: 20px;
  font-weight: 500;
  color: #1d1d1f;
}

.buy-details-container {
  position: relative;
  top: 5%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.name-section {
  width: 50%;
  position: relative;
  height: 70px;
  overflow: hidden;
}

.name-section input {
  width: 100%;
  height: 100%;
  color: rgba(255, 255, 255, 0.3);
  background-color: transparent;
  padding-top: 20px;
  border: none;
  outline: none;
}

.name-section label {
  position: absolute;
  bottom: 0px;
  color: rgba(255, 255, 255, 0.5);
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.name-section label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid rgba(255, 255, 255, 1);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.name-section input:focus + .label-name .content-name,
.name-section input:valid + .label-name .content-name {
  transform: translateY(-120%);
  color: rgba(255, 255, 255, 1);
}

.name-section input:focus + .label-name::after,
.name-section input:valid + .label-name::after {
  transform: translateX(0%);
}

.buy-price-container-summary {
  position: relative;
  top: 100px;
  left: 75%;
  width: 10vw;
}
.apply {
  background-color: transparent;
  border: none;
  border: 1px solid #d8d8d8;
  color: #d8d8d8;
  border-radius: 12px;
  font-size: 18px;
  padding: 6px 6px;
  cursor: pointer;
}
.apply:focus {
  outline: none;
}
.resume-section {
  position: relative;
  top: 30px;
  left: -60px;
}

.resume-label {
  background-color: transparent;
  border: none;
  border: none;
  color: #d8d8d8;
  font-size: 18px;
  padding: 6px 6px;
  cursor: pointer;
}

@media screen and (max-width: 595px) {
  main {
    overflow-x: hidden;
    overflow-y: auto;
    height: 120vh;
  }
  .buy-personal-text {
    font-size: 14px;
  }
  .buy-modal {
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .buy-personal-note {
    width: 100%;
    height: 100%;
  }
  .buy-personal-details {
    width: 100%;
    height: 100%;
  }
  .buy-modal {
    position: absolute;
    top: 10%;
  }
  .buy-price-container-summary {
    top: 50px;
  }
  .cross {
    color: #1d1d1f;
    position: absolute;
    left: 90%;
    top: 2%;
  }
  .build-buy-summary-head-text {
    font-size: 16px;
  }
  .underline {
    top: -8px;
    width: 143px;
  }
  .contact-container {
    flex-direction: column;
  }
  .contact-service-container {
    width: 100%;
    height: 100%;
  }
  .contact-career-container {
    width: 100%;
    height: 100%;
  }
  .contact-service-heading-text {
    font-size: 22px;
  }
  .contact-service-body {
    position: absolute;
    top: 18%;
    left: 10%;
    width: 75%;
    height: 40%;
  }
  .contact-service-body-query-text {
    width: 80%;
    top: 10%;
    font-size: 15px;
  }
  .resume-label {
    font-size: 12px;
  }
  .resume-section {
    left: -50px;
  }
  .name-section input {
    padding-top: 16px;
  }
  .name-section {
    width: 55%;
    height: 80px;
  }
  .buy-price-container-summary {
    top: 55px;
    left: 70%;
  }
  .apply {
    font-size: 16px;
  }
  .contact-career-heading-text {
    top: 15%;
    left: 10%;
    font-size: 22px;
  }
  .contact-career-hiring-text {
    top: 17%;
    left: 10%;
    font-size: 20px;
  }
  .contact-career-options-container {
    left: 10%;
    top: 22%;
  }
  .other-role {
    top: 28%;
    left: 10%;
  }
}

@media screen and (min-height: 650px) and (max-height: 850px) and (max-width: 595px) {
  .contact-service-body {
    height: 35%;
  }
}

@media screen and (min-width: 596px) and (max-width: 1220px) {
  .buy-personal-text {
    font-size: 16px;
  }
  .buy-modal {
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .buy-personal-note {
    width: 100%;
    height: 100%;
  }
  .buy-personal-details {
    width: 100%;
    height: 100%;
  }
  .buy-modal {
    position: absolute;
    top: 10%;
  }
  .buy-price-container-summary {
    top: 50px;
  }
  .cross {
    color: #1d1d1f;
    position: absolute;
    left: 90%;
    top: 2%;
  }
  .resume-label {
    font-size: 16px;
  }
  .resume-section {
    left: -170px;
  }
  .name-section input {
    padding-top: 16px;
  }
  .name-section {
    width: 55%;
    height: 80px;
  }
  .buy-price-container-summary {
    top: 55px;
    left: 70%;
  }
  .apply {
    font-size: 16px;
  }
}
