<app-navigation></app-navigation>
<main>
  <div class="contact-container">
    <div class="contact-service-container">
      <h1 class="contact-service-heading-text">
        Service & Purchase
      </h1>
      <div class="contact-service-body">
        <h1 class="contact-service-body-query-text">
          For any queries related to 45,
        </h1>
        <h1 class="contact-service-body-query-text">
          call us on
          <a href="tel:+918341913591">+918341913591</a>
          <br />or write to us at
          <a href="mailto:info@utonenergia.com">info@utonenergia.com</a>
        </h1>
        <h1 class="contact-service-body-query-text">
          Office
        </h1>
        <p class="contact-service-body-query-text">
          T Hub, IIIT Hyderabad, Gachibowli, Hyderabad,<br />
          Telangana, 500032<br />Ph +918341913591
        </p>
        <p class="contact-service-body-query-text">
          <a
            class="direction-link"
            href="https://www.google.com/maps/dir/?api=1&destination=T+Hub,+IIIT+Hyderabad,+Gachibowli,+Hyderabad,+Telangana,+500032/"
            >Get directions</a
          >
        </p>
      </div>
    </div>
    <div class="contact-career-container">
      <h1 class="contact-career-heading-text">
        Careers
      </h1>
      <h1 class="contact-career-hiring-text">We're Hiring!</h1>
      <div class="contact-career-options-container">
        <div class="contact-career-option">
          <div class="power-text">
            <h1 class="contact-career-option-text">
              Power Electronics Engineer
            </h1>
          </div>
          <div class="vb"></div>
          <div>
            <h1 class="contact-career-option-text">Hyderabad</h1>
          </div>
          <div class="vb"></div>
          <div>
            <h1 class="contact-career-option-text">Apply</h1>
          </div>
        </div>
        <div class="contact-career-option">
          <div class="power-text">
            <h1 class="contact-career-option-text">Marketing Intern</h1>
          </div>

          <div class="vb"></div>
          <h1 class="contact-career-option-text">Hyderabad</h1>
          <div class="vb"></div>
          <h1 class="contact-career-option-text">Apply</h1>
        </div>
      </div>
      <div class="other-role">
        <p class="other-role-text">
          If you didn’t find a suitable role, please drop us <br />a mail at
          <a href="mailto:info@utonenergia.com">info@utonenergia.com</a> <br />
          We’ll get in touch with you
        </p>
      </div>
    </div>
  </div>
</main>
