<app-navigation></app-navigation>
<main>
  <div class="specs-outer-wrapper">
    <div class="specs-wrapper">
      <div class="specs-landing container">
        <div class="specs-landing-title">
          <h1 class="title-text">
            We’r e just gonna put this straight out there,
          </h1>
        </div>
        <div class="specs-landing-sub-title">
          <h1 class="sub-title-text">
            the market has a old metallic art with of course a new tech!
          </h1>
        </div>
        <div class="specs-landing-img-container">
          <img
            src="/assets/images/specs/fortyfive.jpg"
            alt=""
            class="specs-landing-img"
          />
        </div>
      </div>
      <div class="specs-landing-two container">
        <div class="specs-landing-two-img-container">
          <img
            src="/assets/images/specs/fortyfive.jpg"
            alt=""
            class="specs-landing-two-img"
          />
        </div>
        <div class="specs-landing-two-title">
          <h1 class="title-text">
            And damn, it’s goddamn delicious!
          </h1>
        </div>
        <div class="specs-landing-two-sub-title">
          <h1 class="specs-landing-two-sub-title-text">
            On a busy street, the bike looks like a retro motorcycle with fat
            tires & aggressive lighting. It's eye catching, a retro design
            that's suitable for both men & women making an announcement. The
            design is not only meant to turn heads, it's a key part of shifting
            the way commuters think about bikes as an urban transportation.
          </h1>
        </div>
      </div>
      <div class="specs-body container">
        <div class="specs-body-img-container">
          <img
            src="/assets/images/specs/fortyfive-body.jpg"
            alt=""
            class="specs-body-img"
          />
        </div>
        <div class="specs-body-title">
          <h1 class="title-text">
            Gotta hold it together!
          </h1>
        </div>
        <div class="specs-body-sub-title">
          <h1 class="specs-body-sub-title-text">
            Made of AISI 4130 chromoly steel, the frame has a good structural
            integrity that dampens the vibrations as well. The design, which has
            a retro look to it, was born from an intention to lower the overall
            manufacturing without losing its functionality.
          </h1>
        </div>
      </div>
      <div class="specs-body-two container">
        <div class="specs-body-two-img-container">
          <img
            src="/assets/images/fortyfive.jpg"
            alt=""
            class="specs-body-two-img"
          />
        </div>
        <div class="specs-body-two-spec-container">
          <div class="specs-body-two-spec-element-container">
            <div class="specs-body-two-element">
              <h1 class="specs-body-two-element-number">24</h1>
              <h1 class="specs-body-two-element-symbol">Cr</h1>
              <h1 class="specs-body-two-element-name">Chromium</h1>
            </div>
            <div class="specs-body-two-element-text">
              <h1>AISI 4130 Chromium steel for strength</h1>
            </div>
          </div>
          <div class="specs-body-two-spec-weight-container">
            <div class="specs-body-two-weight">
              <h1 class="specs-body-two-weight-quantity">6.8<span>kg</span></h1>
            </div>
            <div class="specs-body-two-weight-text">
              <h1>Built for reliability, withstands 150Kg load.</h1>
            </div>
          </div>
        </div>
        <div class="specs-body-two-sub-title">
          <h1 class="specs-body-two-sub-title-text">
            Made of AISI 4130 chromoly steel, the frame has a good structural
            integrity that dampens the vibrations as well. The design, which has
            a retro look to it, was born from an intention to lower the overall
            manufacturing without losing its functionality.
          </h1>
        </div>
      </div>
      <div class="specs-motor container">
        <div class="specs-motor-title">
          <h1 class="title-text">SIMPLE YET POWERFUL!</h1>
        </div>
        <div class="specs-motor-sub-title">
          <h1 class="specs-motor-sub-title-text">
            <b>Tuned for maximum power and a natural ride-feel.</b> The
            brushless DC motor offers a peak torque of 80Nm and a maximum power
            of 250W. The mid motor and rack mounted battery keeps the weight
            relatively centered on the frame.
          </h1>
        </div>
        <div class="specs-motor-img-container">
          <img
            src="/assets/images/specs/fortyfive-motor.jpg"
            alt=""
            class="specs-motor-img"
          />
        </div>
      </div>
      <div class="specs-motor-two container">
        <div class="specs-motor-two-spec-container">
          <div class="specs-motor-two-power-container">
            <h1 class="specs-motor-two-power">250<span>w</span></h1>
            <h1 class="specs-motor-two-power-text">
              Maximum power of the motor
            </h1>
          </div>
          <div class="specs-motor-two-power-container">
            <h1 class="specs-motor-two-power">75<span>Nm</span></h1>
            <h1 class="specs-motor-two-power-text">
              Maximum torque at the wheel
            </h1>
          </div>
          <div class="specs-motor-two-power-container">
            <h1 class="specs-motor-two-power">25<span>kph</span></h1>
            <h1 class="specs-motor-two-power-text">
              Maximum speed of vehicle
            </h1>
          </div>
          <div class="specs-motor-two-power-container">
            <h1 class="specs-motor-two-power">2.3<span>Kg</span></h1>
            <h1 class="specs-motor-two-power-text">
              Motor weight
            </h1>
          </div>
          <div class="specs-motor-two-power-container">
            <h1 class="specs-motor-two-power">93<span>%</span></h1>
            <h1 class="specs-motor-two-power-text">
              Motor efficiency
            </h1>
          </div>
        </div>
      </div>
      <div class="specs-tyre container">
        <div class="specs-tyre-img-container">
          <img
            src="/assets/images/specs/fortyfive-tyre.jpg"
            alt="fortyfive-tyre"
            class="specs-tyre-img-container"
          />
        </div>
      </div>
      <div class="specs-battery container"></div>
      <div class="specs-battery-two container"></div>
      <div class="specs-smart-system container"></div>
      <div class="specs-smart-system-two container"></div>
      <div class="specs-smart-lock container"></div>
      <div class="specs-sense container"></div>
      <div class="specs-phone container"></div>
      <div class="specs-build container"></div>
    </div>
  </div>
</main>
