<app-navigation></app-navigation>
<main>
  <div class="specs-outer-wrapper">
    <div class="specs-wrapper">
      <div class="specs-landing container">
        <div class="specs-landing-title">
          <h1 class="title-text">
            We’r e just gonna put this straight out there,
          </h1>
        </div>
        <div class="specs-landing-sub-title">
          <h1 class="sub-title-text">
            the market has a old metallic art with of course a new tech!
          </h1>
        </div>
        <div class="specs-landing-img-container">
          <img
            src="/assets/images/specs/fortyfive.jpg"
            alt=""
            class="specs-landing-img"
          />
        </div>
      </div>
      <div class="specs-landing-two-container">
        <!-- <div class="specs-landing-two-img-container">
          <img
            src="/assets/images/specs/fortyfive.jpg"
            alt=""
            class="specs-landing-two-img"
          />
        </div> -->
        <div class="specs-landing-two-title">
          <h1 class="title-text">And damn, it’s goddamn delicious!</h1>
        </div>
        <div class="specs-landing-two-sub-title">
          <h1 class="specs-landing-two-sub-title-text">
            On a busy street, the bike looks like a retro motorcycle with fat
            tires & aggressive lighting. It's eye catching, a retro design
            that's suitable for both men & women making an announcement. The
            design is not only meant to turn heads, it's a key part of shifting
            the way commuters think about bikes as an urban transportation.
          </h1>
        </div>
      </div>
      <div class="specs-body container">
        <div class="specs-body-img-container">
          <img
            src="/assets/images/specs/fortyfive-body.jpg"
            alt=""
            class="specs-body-img"
          />
        </div>
        <div class="specs-body-title">
          <h1 class="title-text">Gotta hold it together!</h1>
        </div>
        <div class="specs-body-sub-title">
          <h1 class="specs-body-sub-title-text">
            Made of AISI 4130 chromoly steel, the frame has a good structural
            integrity that dampens the vibrations as well. The design, which has
            a retro look to it, was born from an intention to lower the overall
            manufacturing without losing its functionality.
          </h1>
        </div>
      </div>
      <div class="specs-body-two container">
        <div class="specs-body-two-img-container">
          <img
            src="/assets/images/specs/fortyfive-body-alloy.png"
            alt=""
            class="specs-body-two-img"
          />
        </div>
        <div class="specs-body-two-spec-container">
          <div class="specs-body-two-spec-element-container">
            <div class="specs-body-two-element">
              <h1 class="specs-body-two-element-number">24</h1>
              <h1 class="specs-body-two-element-symbol">Cr</h1>
              <h1 class="specs-body-two-element-name">Chromium</h1>
            </div>
            <div class="specs-body-two-element-text">
              <h1>AISI 4130 Chromium steel for strength</h1>
            </div>
          </div>
          <div class="specs-body-two-spec-weight-container">
            <div class="specs-body-two-weight">
              <h1 class="specs-body-two-weight-quantity">6.8<span>kg</span></h1>
            </div>
            <div class="specs-body-two-weight-text">
              <h1>Built for reliability, withstands 150Kg load.</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="specs-motor container">
        <div class="specs-motor-title">
          <h1 class="title-text">SIMPLE YET POWERFUL!</h1>
        </div>
        <div class="specs-motor-sub-title">
          <h1 class="specs-motor-sub-title-text">
            <b>Tuned for maximum power and a natural ride-feel.</b> The
            brushless DC motor offers a peak torque of 80Nm and a maximum power
            of 250W. The mid motor and rack mounted battery keeps the weight
            relatively centered on the frame.
          </h1>
        </div>
        <div class="specs-motor-img-container">
          <img
            src="/assets/images/specs/fortyfive-motor.png"
            alt=""
            class="specs-motor-img"
          />
        </div>
      </div>
      <div class="specs-motor-two container">
        <div class="specs-motor-two-spec-container">
          <div class="specs-motor-two-power-container">
            <h1 class="specs-motor-two-power">250<span>w</span></h1>
            <h1 class="specs-motor-two-power-text">
              Maximum power of the motor
            </h1>
          </div>
          <div class="specs-motor-two-power-container">
            <h1 class="specs-motor-two-power">75<span>Nm</span></h1>
            <h1 class="specs-motor-two-power-text">
              Maximum torque at the wheel
            </h1>
          </div>
          <div class="specs-motor-two-power-container">
            <h1 class="specs-motor-two-power">25<span>kph</span></h1>
            <h1 class="specs-motor-two-power-text">Maximum speed of vehicle</h1>
          </div>
          <div class="specs-motor-two-power-container">
            <h1 class="specs-motor-two-power">2.3<span>Kg</span></h1>
            <h1 class="specs-motor-two-power-text">Motor weight</h1>
          </div>
          <div class="specs-motor-two-power-container">
            <h1 class="specs-motor-two-power">93<span>%</span></h1>
            <h1 class="specs-motor-two-power-text">Motor efficiency</h1>
          </div>
        </div>
      </div>
      <div class="specs-tyre container">
        <div class="specs-tyre-img-container">
          <img
            src="/assets/images/specs/fortyfive-tyre.png"
            alt="fortyfive-tyre"
            class="specs-tyre-img-container"
          />
        </div>
        <div class="specs-tyre-title">
          <h1 class="specs-tyre-title-text">THAT'S HOW IT ROLLS!</h1>
        </div>
        <div class="specs-tyre-sub-title">
          <h1 class="specs-tyre-sub-title-text">
            Let suspension never be a worry. The wide 4’’ tyres offer improved
            stability and comfort, whilst giving the smoothest rides even over
            bumps. With 30psi inflation pressure, you can do away with the need
            for suspension on any kind of terrain.
          </h1>
        </div>
        <div class="specs-tyre-spec-container">
          <div class="specs-tyre-spec-dimension">
            <h1 class="specs-tyre-spec-dimension-unit">20<span>x</span>4"</h1>
            <h1 class="specs-tyre-spec-dimension-text">
              Wide & reliable tyres
            </h1>
          </div>
          <div class="specs-tyre-spec-pressure">
            <div class="specs-tyre-spec-pressure-container">
              <h1 class="specs-tyre-spec-pressure-unit">30<span>psi</span></h1>
            </div>
            <h1 class="specs-tyre-spec-pressure-text">Tyre pressure</h1>
          </div>
        </div>
      </div>
      <div class="specs-battery container">
        <div class="specs-battery-title">
          <h1 class="specs-battery-title-text">
            Goes where no bike would dare!
          </h1>
        </div>
        <div class="specs-battery-title-two">
          <div class="specs-battery-title-two-text">REFUELLING THE JUICE</div>
        </div>
        <div class="specs-battery-sub-title">
          <h1 class="specs-battery-sub-title-text">
            The removable battery allows you to refuel the battery anywhere. The
            6A charging framework charges the battery in 1Hr 30min. Our light
            weight 100% electric bikes offer ample range to cover everyday needs
            on single charge. Moving forward, we will continue to look for ways
            to make charging more efficient and hassle free.
          </h1>
        </div>
      </div>
      <div class="specs-battery-two container">
        <div class="specs-tyre-img-container">
          <img
            src="/assets/images/specs/fortyfive-battery.png"
            alt="fortyfive-tyre"
            class="specs-tyre-img-container"
          />
        </div>
        <div class="specs-battery-two-spec-container">
          <div class="specs-battery-two-spec-capacity">
            <h1 class="specs-battery-two-spec-capacity-unit">
              550<span>wh</span>
            </h1>
            <h1 class="specs-battery-two-spec-capacity-text">
              Battery Capacity
            </h1>
          </div>
          <div class="specs-battery-two-spec-range">
            <h1 class="specs-battery-two-spec-range-unit">65<span>Km</span></h1>
            <h1 class="specs-battery-two-spec-range-text">Range</h1>
          </div>
        </div>
      </div>
      <div class="specs-smart-system container">
        <div class="specs-smart-img-container">
          <img
            src="/assets/images/specs/fortyfive-brain.png"
            alt="fortyfive-tyre"
            class="specs-smart-img-container"
          />
        </div>
        <div class="specs-smart-system-title">
          <h1 class="specs-smart-system-title-text">
            Putting the Brains in Your Bike!
          </h1>
        </div>
        <div class="specs-smart-system-sub-title">
          <h1 class="specs-smart-system-sub-title-text">
            <b
              >The Smart system is the most important part of the bike by
              far.</b
            >It’s really the brain of the bike it connects all of the bike’s
            systems and links them to the rider’s smartphone.
          </h1>
        </div>
      </div>
      <div class="specs-smart-system-two container">
        <div class="specs-smart-two-img-container">
          <img
            src="/assets/images/specs/fortyfive-monitoring.png"
            alt="fortyfive-tyre"
            class="specs-smart-two-img"
          />
        </div>
        <div class="specs-smart-system-two-sub-title">
          <h1 class="specs-smart-system-two-sub-title-text">
            The vehicle monitoring system usually monitors the major components
            of the electric vehicle, battery & motor. The battery’s health is
            continuously monitored & anything suspicious cuts off the complete
            electrical system. Prior indication is given to the user, otherwise
            does automatically. Same goes with the motor. The self diagnostic
            system helps in maintaining the proper health of the vehicle.
          </h1>
        </div>
      </div>
      <div class="specs-smart-lock container">
        <div class="specs-smart-lock-img-container">
          <img
            src="/assets/images/specs/fortyfive-smartlock.png"
            alt="fortyfive-tyre"
            class="specs-smart-lock-img"
          />
        </div>
        <div class="specs-smart-lock-title">
          <h1 class="specs-smart-lock-title-text">
            YOUR RIDE IS JUST A TOUCH AWAY!
          </h1>
        </div>
        <div class="specs-smart-lock-sub-title">
          <h1 class="specs-smart-lock-sub-title-text">
            The smart locking system is a semi automatic locking that needs user
            assistance for locking the vehicle, which varies from the existing
            expensive locking system. The system comes with an anti theft alarm,
            which buzzes at suspicious movement.
          </h1>
        </div>
      </div>
      <div class="specs-sense container">
        <div class="specs-sense-title">
          <h1 class="specs-sense-title-text">SENSE!</h1>
        </div>
        <div class="specs-sense-sub-title">
          <h1 class="specs-sense-sub-title-text">
            The tyre monitoring pressure sensor takes the data from the load &
            rides, gives an optimized pressure value for which it has both
            acceleration & suspension effect.
          </h1>
        </div>
        <div class="specs-sense-img-container">
          <img
            src="/assets/images/specs/fortyfive-phone.png"
            alt=""
            class="specs-sense-img"
          />
        </div>
      </div>
      <div class="specs-phone container">
        <div class="specs-phone-img-container">
          <img
            src="/assets/images/specs/fortyfive-phone.png"
            alt=""
            class="specs-phone-img"
          />
        </div>
        <div class="specs-phone-title">
          <h1 class="specs-phone-title-text">LET THE PHONE TAKE CONTROL</h1>
        </div>
        <div class="specs-phone-sub-title">
          <h1 class="specs-phone-sub-title-text">
            App Integration provides you with real time information about
            various aspects of the bike at the convenience of your fingertips.
          </h1>
        </div>
      </div>
      <div class="specs-build container">
        <div class="specs-build-premium-container">
          <div class="specs-build-premium-text-container">
            <h1 class="specs-build-premium-text">Premium/ll Years</h1>
          </div>
          <div class="specs-build-premium-features-container">
            <ul class="specs-build-premium-features">
              <li
                *ngFor="let feature of features"
                class="specs-build-premium-feature"
              >
                <div class="specs-build-premium-feature-container">
                  <div class="specs-build-premium-feature-svg-container">
                    <svg
                      width="2rem"
                      height="2rem"
                      viewBox="0 0 16 16"
                      class="bi bi-check2"
                      fill="green"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"
                      />
                    </svg>
                  </div>
                  <div class="specs-build-premium-feature-text-container">
                    <h1 class="specs-build-premium-feature-text">
                      {{ feature }}
                    </h1>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="specs-build-premium-build-text-container">
          <h1 class="specs-build-premium-build-text">Build your own bike!</h1>
        </div>
        <div class="specs-build-premium-build-btn-container">
          <button routerLink="/build" class="specs-build-premium-build-btn">
            Build Yours
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
