main {
  background-color: #d8d8d8;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.specs-outer-wrapper {
  position: absolute;
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.specs-wrapper {
  display: flex;
  flex-direction: row;
  width: 1440vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.specs-landing-title {
  position: absolute;
  top: 15%;
  left: 5%;
  width: 45vw;
}

.title-text {
  font-weight: 700;
  color: #686868;
  font-size: 64px;
  line-height: 5rem;
}

.specs-landing-sub-title {
  position: absolute;
  top: 40%;
  left: 5%;
  width: 55vw;
}

.sub-title-text {
  font-weight: 600;
  font-size: 42px;
  color: #1d1d1f;
  line-height: 3.5rem;
}

.specs-landing-img-container {
  position: absolute;
  left: 60%;
  top: 10%;
  width: 35vw;
  height: 80vh;
}

.specs-landing-img {
  width: 100%;
  height: 100%;
}

.specs-landing-two-container {
  position: relative;
  width: 50vw;
  height: 100vh;
}

.specs-landing-two-img-container {
  position: absolute;
  left: 8%;
  top: -30%;
  width: 50vw;
  height: 90vh;
}

.specs-landing-two-img {
  width: 100%;
  height: 100%;
}

.specs-landing-two-title {
  position: absolute;
  left: -5%;
  top: 15%;
  width: 50vw;
}

.specs-landing-two-sub-title {
  position: absolute;
  left: -5%;
  top: 43%;
  width: 48vw;
}

.specs-landing-two-sub-title-text {
  color: #1d1d1f;
  font-weight: 600;
  font-size: 22px;
  text-align: left;
}

.specs-body-img-container {
  position: absolute;
  left: -2%;
  top: 10%;
  width: 55vw;
  height: 70vh;
}

.specs-body-img {
  width: 100%;
  height: 100%;
}

.specs-body-title {
  position: absolute;
  top: 15%;
  left: 55%;
  width: 30vw;
}
.specs-body-sub-title {
  position: absolute;
  top: 43%;
  left: 55%;
  width: 40vw;
}
.specs-body-sub-title-text {
  color: #1d1d1f;
  font-weight: 600;
  font-size: 22px;
  text-align: left;
}

.specs-body-two-img-container {
  position: absolute;
  left: -1%;
  top: 20%;
  width: 55vw;
  height: 70vh;
}

.specs-body-two-img {
  width: 100%;
  height: 100%;
}

.specs-body-two-sub-title {
  position: absolute;
  top: 15%;
  left: 60%;
  width: 35vw;
}
.specs-body-two-sub-title-text {
  color: #1d1d1f;
  font-weight: 600;
  font-size: 22px;
  text-align: left;
}

.specs-body-two-spec-container {
  position: absolute;
  left: 60%;
  top: 40%;
  width: 40vw;
  height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.specs-body-two-spec-element-container {
  position: relative;
  top: 50px;
  left: 100px;
  width: 40vw;
}

.specs-body-two-element {
  width: 130px;
  height: 120px;
  border: 1px solid black;
}

.specs-body-two-element-number {
  position: absolute;
  left: 10px;
  font-size: 14px;
  font-weight: 400;
}

.specs-body-two-element-symbol {
  position: absolute;
  left: 60px;
  top: 50px;
  transform: translate(-10px, -30px);
  font-weight: 400;
}

.specs-body-two-element-name {
  position: absolute;
  top: 80px;
  left: 70px;
  transform: translateX(-35px);
  font-size: 18px;
  font-weight: 400;
}

.specs-body-two-element-text {
  position: relative;
  width: 150px;
}

.specs-body-two-element-text > h1 {
  font-weight: 400;
  color: #1d1d1f;
  font-size: 18px;
}

.specs-body-two-spec-weight-container {
  position: relative;
  top: 50px;
  left: 20px;
  width: 40vw;
}

.specs-body-two-weight {
  position: relative;
  width: 10px;
  height: 120px;
}
.specs-body-two-weight-quantity {
  font-weight: 700;
  color: #1d1d1f;
  font-size: 48px;
}
.specs-body-two-weight-quantity > span {
  font-weight: 500;
  font-size: 14px;
}

.specs-body-two-weight-text {
  position: relative;
  top: -30px;
  width: 170px;
}
.specs-body-two-weight-text > h1 {
  font-weight: 400;
  color: #1d1d1f;
  font-size: 18px;
}
.specs-motor-title {
  position: absolute;
  top: 15%;
  left: 5%;
}
.specs-motor-sub-title {
  position: absolute;
  top: 32%;
  left: 5%;
  width: 40vw;
}
.specs-motor-sub-title-text {
  color: #1d1d1f;
  font-weight: 600;
  font-size: 22px;
  text-align: left;
}

.specs-motor-img-container {
  position: absolute;
  top: 15%;
  left: 50%;
  width: 40vw;
  height: 60vh;
}

.specs-motor-img {
  width: 100%;
  height: 100%;
}

.specs-motor-two-spec-container {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.specs-motor-two-power {
  font-weight: 700;
  color: #1d1d1f;
  font-size: 48px;
  text-align: center;
}
.specs-motor-two-power > span {
  font-weight: 400;
  color: #1d1d1f;
  font-size: 24px;
}

.specs-motor-two-power-text {
  font-weight: 400;
  color: #1d1d1f;
  font-size: 24px;
}

.specs-tyre-img-container {
  position: absolute;
  width: 30vw;
  height: 70vh;
  top: 5%;
  left: 5%;
}

.specs-tyre-img {
  width: 100%;
  height: 100%;
}
.specs-tyre-sub-title {
  position: absolute;
  left: 50%;
  width: 40vw;
  top: 20%;
}

.specs-tyre-sub-title-text {
  color: #1d1d1f;
  font-weight: 600;
  font-size: 22px;
  text-align: left;
}

.specs-tyre-spec-container {
  width: 40vw;
  position: absolute;
  left: 50%;
  top: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.specs-tyre-spec-dimension-unit {
  font-weight: 700;
  font-size: 48px;
  text-align: center;
}

.specs-tyre-spec-dimension-unit > span {
  font-weight: 400;
  font-size: 18px;
}
.specs-tyre-spec-dimension-text {
  font-size: 18px;
  font-weight: 400;
}

.specs-tyre-spec-pressure-container {
  border: 1px solid black;
  width: 130px;
  height: 80px;
  position: relative;
  /* top: 0px; */
}

.specs-tyre-spec-pressure-unit {
  position: absolute;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  top: -15px;
  left: 30px;
}

.specs-tyre-spec-pressure-unit > span {
  font-weight: 400;
  font-size: 18px;
}

.specs-tyre-spec-pressure-text {
  font-weight: 400;
  font-size: 18px;
  position: relative;
  top: 15px;
}

.specs-tyre-title {
  position: absolute;
  left: 10%;
  top: 70%;
}
.specs-tyre-title-text {
  font-weight: 700;
  color: #686868;
  font-size: 48px;
}

.specs-battery-title {
  position: absolute;
  top: 30%;
  left: 5%;
  width: 40vw;
}

.specs-battery-title-text {
  color: #1d1d1f;
  font-weight: 700;
  font-size: 48px;
  line-height: 3.5rem;
}

.specs-battery-title-two {
  position: absolute;
  top: 20%;
  left: 50%;
}

.specs-battery-title-two-text {
  color: #686868;
  font-weight: 600;
  font-size: 36px;
  line-height: 2.5rem;
}

.specs-battery-sub-title {
  position: absolute;
  top: 27%;
  left: 50%;
  width: 45vw;
}

.specs-battery-sub-title-text {
  color: #686868;
  font-weight: 500;
  font-size: 28px;
}
.specs-battery-two-spec-container {
  position: relative;
  left: 50%;
  top: 10%;
  width: 40vw;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.specs-battery-two-spec-capacity {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.specs-battery-two-spec-capacity-unit {
  font-size: 48px;
  font-weight: 700;
}

.specs-battery-two-spec-capacity-unit > span {
  font-size: 18px;
  font-weight: 400;
}

.specs-battery-two-spec-capacity-text {
  font-size: 18px;
  font-weight: 400;
}

.specs-battery-two-spec-range {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.specs-battery-two-spec-range-unit {
  font-size: 48px;
  font-weight: 700;
}

.specs-battery-two-spec-range-unit > span {
  font-size: 18px;
  font-weight: 400;
}

.specs-battery-two-spec-range-text {
  font-size: 18px;
  font-weight: 400;
}

.specs-smart-img-container {
  position: absolute;
  width: 40vw;
  height: 60vh;
  top: 8%;
  left: 35%;
}

.specs-tyre-img {
  width: 100%;
  height: 100%;
}

.specs-smart-system-title {
  position: absolute;
  top: 20%;
  left: 0%;
  width: 35vw;
}

.specs-smart-system-title-text {
  color: #686868;
  font-size: 48px;
  font-weight: 700;
  line-height: 3.5rem;
}

.specs-smart-system-sub-title {
  position: absolute;
  top: 40%;
  left: 0%;
  width: 40vw;
}

.specs-smart-system-sub-title-text {
  color: #1d1d1f;
  font-size: 32px;
  font-weight: 500;
}
.specs-smart-two-img-container {
  position: absolute;
  width: 35vw;
  height: 80vh;
  top: 10%;
  left: 0%;
}

.specs-smart-two-img {
  width: 100%;
  height: 100%;
}

.specs-smart-system-two-sub-title {
  position: absolute;
  top: 50%;
  left: 40%;
  width: 45vw;
}

.specs-smart-system-two-sub-title-text {
  color: #1d1d1f;
  font-size: 22px;
  font-weight: 600;
}

.specs-smart-lock-img-container {
  position: absolute;
  width: 40vw;
  height: 70vh;
  top: 10%;
  left: 40%;
}

.specs-smart-lock-img {
  width: 100%;
  height: 100%;
}

.specs-smart-lock-title {
  position: absolute;
  top: 10%;
  left: 0%;
  width: 35vw;
}
.specs-smart-lock-title-text {
  color: #1d1d1f;
  font-weight: 700;
  font-size: 48px;
  line-height: 3.5rem;
}

.specs-smart-lock-sub-title {
  position: absolute;
  top: 35%;
  left: 0%;
  width: 45vw;
}

.specs-smart-lock-sub-title-text {
  color: #1d1d1f;
  font-weight: 600;
  font-size: 22px;
}

.specs-sense-title {
  position: relative;
  top: 5%;
  left: 5%;
}

.specs-sense-title-text {
  color: #686868;
  font-size: 48px;
  font-weight: 700;
}

.specs-sense-sub-title {
  position: relative;
  top: 5%;
  left: 5%;
  width: 45vw;
}

.specs-sense-sub-title-text {
  color: #1d1d1f;
  font-weight: 500;
  font-size: 28px;
  line-height: 2.3rem;
}

.specs-sense-img-container {
  position: relative;
  left: 50%;
  top: -50%;
  width: 40vw;
  height: 90vh;
}

.specs-sense-img {
  width: 100%;
  height: 100%;
}

.specs-phone-img-container {
  position: relative;
  left: 5%;
  top: 0%;
  width: 40vw;
  height: 90vh;
}

.specs-phone-img {
  width: 100%;
  height: 100%;
}

.specs-phone-title {
  position: relative;
  left: 50%;
  top: -70%;
  width: 40vw;
}

.specs-phone-title-text {
  color: #1d1d1f;
  font-weight: 700;
  font-size: 48px;
}

.specs-phone-sub-title {
  position: relative;
  left: 50%;
  top: -70%;
  width: 40vw;
}

.specs-phone-sub-title-text {
  color: #1d1d1f;
  font-weight: 500;
  font-size: 28px;
}
.specs-build-premium-container {
  position: relative;
  top: 20%;
  left: 20%;
  background-color: black;
  width: 25vw;
  height: 50vh;
  border-radius: 50px;
}
.specs-build-premium-text-container {
  position: relative;
  left: 30px;
  top: 10px;
}

.specs-build-premium-text {
  font-weight: 600;
  font-size: 22px;
  color: #cfb53b;
}

.specs-build-premium-features-container {
  position: relative;
  left: -30px;
}

.specs-build-premium-feature {
  list-style: none;
}
.specs-build-premium-feature-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
}
.specs-build-premium-feature-text-container {
  width: 15vw;
}
.specs-build-premium-feature-text {
  font-weight: 500;
  font-size: 18px;
  color: #d8d8d8;
}

.specs-build-premium-build-text-container {
  position: relative;
  margin-left: 60%;
  top: -20%;
  width: 20vw;
}
.specs-build-premium-build-text {
  color: #1d1d1f;
  font-weight: 700;
  font-size: 36px;
}
.specs-build-premium-build-btn-container {
  position: relative;
  margin-left: 60%;
  top: -20%;
}

.specs-build-premium-build-btn {
  background-color: #1d1d1f;
  color: #d8d8d8;
  padding: 5px 5px;
  font-size: 22px;
  font-family: inherit;
  font-weight: 500;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}
.specs-build-premium-build-btn:focus {
  outline: none;
}
