main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.career-modal-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.career-modal {
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: row;
}

.career-note {
  width: 50%;
  height: 100%;
  background-color: #d8d8d8;
  z-index: 1;
}

.career-details {
  width: 50%;
  height: 100%;
  z-index: 1;
  background-color: #1d1d1f;
}
