main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.build-buy-modal-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.build-buy-modal {
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: row;
}
.build-buy-summary-components-container {
  width: 65%;
  height: 100%;
  background-color: #d8d8d8;
  z-index: 1;
}

.build-buy-summary-features-container {
  width: 35%;
  height: 100%;
  z-index: 1;
  background-color: #1d1d1f;
}

.build-basic-features-summary {
  position: relative;
  left: -20px;
  top: 50px;
  justify-content: space-evenly;
}
.build-basic-feature {
  list-style: none;
}
.build-basic-feature-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 20vw;
}
.build-basic-feature-text-container {
  width: 15vw;
}
.build-basic-feature-text {
  font-size: 16px;
  font-weight: 500;
  color: #d8d8d8;
}

.build-price-container-summary {
  position: relative;
  top: 120px;
  left: 90px;
  width: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.build-buy-summary-head-text-container {
  position: relative;
  left: 20px;
}
.build-buy-summary-head-text {
  font-weight: 600;
  letter-spacing: 0.05rem;
}
.underline {
  border: 3px solid black;
  position: relative;
  top: -22px;
  width: 115px;
}

.build-buy-summary-components {
  position: relative;
  left: 0%;
  top: 2%;
  width: 63%;
  height: 80%;
  z-index: 2;
}

.build-buy-summary-essentials {
  width: 100%;
  height: 40%;
}

.build-buy-summary-essentials-top {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 50%;
}
.build-buy-summary-essentials-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 50%;
}

.build-buy-essential-unit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.build-buy-essential-unit-text {
  font-size: 28px;
  font-weight: 500;
  color: #1d1d1f;
}
.build-buy-essential-unit-text > span {
  font-size: 18px;
  font-weight: 400;
}
.build-buy-essential-text {
  position: relative;
  top: -30px;
  font-size: 18px;
  font-weight: 400;
  color: #c69f26;
}

.build-buy-summary-bike-image-container {
  position: relative;
  left: 56%;
  top: -85%;
  width: 20vw;
  height: 60vh;
}

.build-buy-summary-bike-image {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.build-buy-summary-feature {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.build-buy-summary-feature-top {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.build-buy-summary-feature-bottom {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.build-buy-summary-feature-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.build-buy-summary-feature-text {
  position: relative;
  top: -20px;
  font-size: 16px;
  font-weight: 400;
  color: #c69f26;
}

.cross {
  position: absolute;
  left: 82.5%;
  top: 17%;
  color: #d8d8d8;
  font-weight: 800;
  font-size: 22px;
  cursor: pointer;
  z-index: 3;
}
.build-buy-btn {
  background-color: transparent;
  border: none;
  color: #686868;
  cursor: pointer;
}
.build-buy-price-container {
  background-color: transparent;
  border: 1px solid #686868;
  border-radius: 12px;
  align-items: center;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.build-buy-rupee {
  width: 20px;
}
.build-buy-price {
  font-size: 28px;
  font-weight: 500;
}

.buy-modal {
  width: 70%;
  height: 80%;
  display: flex;
  flex-direction: row;
}

.buy-personal-note {
  width: 50%;
  height: 100%;
  background-color: #d8d8d8;
  z-index: 1;
}

.buy-personal-details {
  width: 50%;
  height: 100%;
  z-index: 1;
  background-color: #1d1d1f;
}

.buy-personal-text-container {
  position: relative;
  left: 5%;
  width: 80%;
}

.buy-personal-text {
  font-size: 16px;
  font-weight: 500;
  color: #1d1d1f;
}

.buy-details-container {
  position: relative;
  top: 5%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.name-section {
  width: 50%;
  position: relative;
  height: 70px;
  overflow: hidden;
}

.name-section input {
  width: 100%;
  height: 100%;
  color: rgba(255, 255, 255, 0.3);
  background-color: transparent;
  padding-top: 20px;
  border: none;
  outline: none;
}

.name-section label {
  position: absolute;
  bottom: 0px;
  color: rgba(255, 255, 255, 0.5);
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.name-section label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid rgba(255, 255, 255, 1);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.name-section input:focus + .label-name .content-name,
.name-section input:valid + .label-name .content-name {
  transform: translateY(-120%);
  color: rgba(255, 255, 255, 1);
}

.name-section input:focus + .label-name::after,
.name-section input:valid + .label-name::after {
  transform: translateX(0%);
}

.buy-price-container-summary {
  position: relative;
  top: 30px;
  left: 60%;
  width: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
