.news-container {
  width: 100%;
  height: 100%;
  background-color: black;
  display: block;
  position: relative;
  transform: translateY(-170%);
}

.news-container.transform {
  transform: translateY(0%);
}

/* .transition {
  animation: transform 1s linear;
}

@keyframes transfrom {
  0% {
    transform: translateY(-170%);
  }
  100% {
    transform: translateY(0%);
  }
} */

.content {
  width: 65%;
  position: absolute;
  top: 8%;
  left: 5%;
  padding: 10px 10px;
}
.input-wrapper {
  position: absolute;
  top: 50%;
  left: 6%;
  width: 100%;
}
.input {
  position: relative;
  overflow: hidden;
  width: 40%;
  height: 60px;
}
.input input {
  width: 100%;
  height: 100%;
  color: #eee;
  padding-top: 20px;
  border: none;
  outline: none;
  background-color: transparent;
}

.input label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  /* background: blue; */
  border-bottom: 1px solid #888;
}

.input label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #eee;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.content-email {
  position: absolute;
  bottom: 5px;
  left: 0px;
  color: #888;
  transition: all 0.3s ease;
}

.input input:focus + .label-email .content-email,
.input input:valid + .label-email .content-email {
  transform: translateY(-100%);
  color: #eee;
}

.input input:focus + .label-email::after,
.input input:valid + .label-email::after {
  transform: translateX(0%);
}
.img-container {
  width: 35%;
  position: absolute;
  right: 0;
  bottom: 0;
}
.button-wrapper {
  position: absolute;
  top: 75%;
  left: 10%;
  transform: translateX(-30%);
}
.button {
  color: black;
  background-color: white;
  border-radius: 22px;
  padding: 4px 25px;
  border: none;
}

.button:hover,
.button:active,
.button:focus {
  border: 1px solid white;
  color: white;
  background-color: transparent;
}
.img {
  width: 100%;
}

.close-wrapper {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 10px;
}

.close {
  font: inherit;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
}

.text {
  font-size: 2.4rem;
  line-height: 1em;
}

@media screen and (min-width: 400px) and (max-width: 500px) {
  .text {
    font-size: 1.4rem;
  }
  .content {
    width: 70%;
    top: 10%;
  }
  .input-wrapper {
    left: 10%;
    top: 45%;
  }
  .button-wrapper {
    left: 17%;
  }
  .button {
    border-radius: 22px;
    padding: 2px 20px;
  }
}

@media screen and (max-width: 299px) {
  .text {
    font-size: 1rem;
  }
  .content {
    width: 80%;
  }
  .button {
    border-radius: 20px;
    padding: 2px 15px;
  }
  .content-email {
    font-size: 1rem;
  }
  .button-wrapper {
    left: 20%;
  }
}

@media screen and (max-width: 399px) and (min-width: 300px) {
  .text {
    font-size: 1.2rem;
  }
  .content {
    width: 80%;
    top: 10%;
  }
  .input-wrapper {
    left: 10%;
    top: 47%;
  }
  .button-wrapper {
    left: 17%;
  }
  .button {
    border-radius: 22px;
    padding: 2px 18px;
    font-size: 1rem;
  }
}

@media screen and (min-width: 501px) and (max-width: 900px) {
  .text {
    font-size: 1.8rem;
  }
  .content {
    width: 75%;
    top: 10%;
  }
  .input-wrapper {
    left: 10%;
    top: 45%;
  }
  .button-wrapper {
    left: 17%;
  }
  .button {
    border-radius: 22px;
    padding: 2px 20px;
  }
}

@media screen and (min-width: 501px) and (max-width: 1000px) {
  .img-container {
    width: 30%;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1300px) {
  .img-container {
    width: 35%;
  }
}
