<main>
  <div class="nav-home-btn-container">
    <button routerLink="/" class="nav-home-btn">fortyfive</button>
  </div>
  <div class="nav-options-container">
    <div class="nav-option-btn-container">
      <button routerLink="/specs" class="nav-option-btn">Specs</button>
    </div>
    <div class="nav-option-btn-container">
      <button routerLink="/build" class="nav-option-btn">Build</button>
    </div>
    <div class="nav-option-btn-container">
      <button routerLink="/preorder" class="nav-option-btn">Pre-order</button>
    </div>
    <div class="nav-option-btn-container">
      <button routerLink="/blog" class="nav-option-btn">Blog</button>
    </div>
    <div class="nav-option-btn-container">
      <button routerLink="/contactus" class="nav-option-btn">Contact Us</button>
    </div>
  </div>
</main>
