main {
  font-family: inherit;
}

.nav-home-btn-container {
  z-index: 5;
  position: absolute;
  top: 15px;
  left: 20px;
}
.nav-home-btn {
  font-weight: 400;
  font-size: 22px;
  border: none;
  background-color: transparent;
}

.nav-home-btn:hover {
  cursor: pointer;
}

.nav-home-btn:focus {
  outline: none;
}

.nav-options-container {
  z-index: 5;
  position: absolute;
  width: 40vw;
  top: 15px;
  left: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.nav-option-btn {
  font-weight: 400;
  font-size: 18px;
  border: none;
  background-color: transparent;
}

.nav-option-btn:hover {
  cursor: pointer;
}

.nav-option-btn:focus {
  outline: none;
}
