@import "./../../styles.scss";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.brand {
  color: $lightBlack !important;
  font-size: 2.5rem;
}

.navigation-link {
  font-size: 2rem;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  max-width: 100px;
}

.nav-fortyfive-logo {
  width: 100%;
}
