/* main {
  background-color: #d8d8d8;
  position: absolute;
  top: 0;
  left: 0;
} */

@media screen and (max-width: 480px) {
  main {
    width: 100vw;
    height: 100vh;
  }
  .home-fortyfive-img-container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 100vw;
    /* height: 50vh; */
  }
  .home-fortyfive-img {
    position: relative;
    width: 100%;
    height: 100%;
  }
}

/* 481-768 */
/* 769-1024 */

@media screen and (min-width: 481px) and (max-width: 1024px) {
  main {
    width: 100vw;
    height: 100vh;
  }
  .home-fortyfive-img-container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 60vw;
  }
  .home-fortyfive-img {
    position: relative;
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 1025px) {
  main {
    background-color: #d8d8d8;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
  }

  .home-fortyfive-img-container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 50vw;
  }
  .home-fortyfive-img {
    position: relative;
    width: 100%;
    height: 100%;
  }
}
