<div class="jumbotron jumbotron-fluid ">
  <div class="container">
    <h1 class="display-4">Refund Policy</h1>
  </div>
</div>
<div class="container">
  <blockquote>
    <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>Refund policy applies to products purchased through website (fortyfive.bike) </p>
</blockquote>
<p>1. The pre-booking is subjected to a minimum order of 9999/- as an advance, for the purchase of the bike (fortyfive)</p>
<p>2. Customer is allowed to cancel the order only in the pre-order stage. No cancellation would be entertained once the full payment is made.</p>
<p>3. The cancellation in the pre-order stage is completely refundable.</p>
<p>4. The company shall be under no liability in respect of any loss, directly or indirectly out of the decline of the authorization either by payment gateway or banks, be it any reason.</p>
<p>5. Except as stated above, refunds will not be made under any circumstances.&nbsp;</p>
<p>6. Not withstanding with anything in the policy to the contrary, the company has reserves the right to determine in its sole discretion whether the criteria for a refund set forth in this policy has been satisfied and to require any additional information relevant to such request.</p>
<p>7. All refund requests must have all the details including the payment details &amp; must be stating the reasons for refund.</p>
<p>8. The company is not responsible for refund requests after the pre-order stage. </p>
  </div>
